basePath: /api/v1
definitions:
  models.ChangePasswordReq:
    properties:
      password:
        type: string
    type: object
  models.ForgetPasswordReq:
    properties:
      identity:
        type: string
      valcode:
        type: string
    type: object
  models.LoginReq:
    properties:
      identity:
        description: Identity 登录标识，可以传入邮件或手机号，请在提交前进行验证
        type: string
      password:
        description: Password 密码，服务端不保存密码的明文值，请在提交前进行 MD5 哈希
        type: string
      source:
        description: Source 来源，1:Web, 2:iOS; 3:Android
        type: integer
    type: object
  models.LoginResult:
    properties:
      role:
        description: 用户角色，用于客户端权限管理
        type: string
      token:
        description: |-
          Token JWT Token， 请在 HTTP 请求头中添加
          例子： Authorization: Bearer  TJVA95OrM7E20RMHrHDcEfxjoYZgeFONFh7HgQ
        type: string
    type: object
  models.RegisterReq:
    properties:
      identity:
        description: 用户标识， 可以为邮件或手机号码
        type: string
      password:
        description: 密码 后端不保存明文密码，请于前端求得当前密码MD5哈希值后发送给后端
        type: string
      source:
        description: Source 来源，1:Web, 2:iOS; 3:Android
        type: integer
      valcode:
        description: 验证码 6位数字
        type: string
    type: object
host: www.flywk.com
info:
  contact: {}
  description: 飞行百科 API
  license: {}
  version: "1.0"
paths:
  /accounts:
    post:
      consumes:
      - application/json
      description: 用户注册
      parameters:
      - description: 注册请求
        in: body
        name: req
        required: true
        schema:
          $ref: '#/definitions/models.RegisterReq'
          type: object
      produces:
      - application/json
      responses:
        "200":
          description: 成功
        "400":
          description: 验证失败
        "500":
          description: 服务器端错误
      summary: 用户注册
      tags:
      - account
  /accounts/attributes/forget_password:
    put:
      consumes:
      - application/json
      description: 忘记密码，此为重设密码第一步，提交用户标识（手机号、邮箱），和用户输入的验证码进行验证，并返回一个 Session ID
      parameters:
      - description: 请求
        in: body
        name: req
        required: true
        schema:
          $ref: '#/definitions/models.ForgetPasswordReq'
          type: object
      produces:
      - application/json
      responses:
        "200":
          description: SessionID
        "400":
          description: 验证失败
        "500":
          description: 服务器端错误
      summary: 忘记密码
      tags:
      - account
  /accounts/attributes/reset_password:
    put:
      consumes:
      - application/json
      description: 更改密码，API会验证登录 （JWT Token 或 Cookie）
      parameters:
      - description: 请求
        in: body
        name: req
        required: true
        schema:
          $ref: '#/definitions/models.ChangePasswordReq'
          type: object
      produces:
      - application/json
      responses:
        "200":
          description: 成功
        "400":
          description: 验证失败
        "500":
          description: 服务器端错误
      summary: 更改密码
      tags:
      - account
  /session:
    post:
      consumes:
      - application/json
      description: 用户登录
      parameters:
      - description: 用户登录
        in: body
        name: req
        required: true
        schema:
          $ref: '#/definitions/models.LoginReq'
          type: object
      produces:
      - application/json
      responses:
        "200":
          description: 成功
          schema:
            $ref: '#/definitions/models.LoginResult'
            type: object
        "400":
          description: 验证失败
        "500":
          description: 服务器端错误
      summary: 用户登录
      tags:
      - session
swagger: "2.0"
