{
    "swagger": "2.0",
    "info": {
        "description": "飞行百科 API",
        "contact": {},
        "license": {},
        "version": "1.0"
    },
    "host": "www.flywk.com",
    "basePath": "/api/v1",
    "paths": {
        "/session": {
            "post": {
                "description": "用户登录",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "session"
                ],
                "summary": "用户登录",
                "parameters": [
                    {
                        "description": "用户登录",
                        "name": "req",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/models.LoginReq"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/models.LoginResult"
                        }
                    },
                    "400": {
                        "description": "验证失败"
                    },
                    "500": {
                        "description": "服务器端错误"
                    }
                }
            }
        }
    },
    "definitions": {
        "models.LoginReq": {
            "type": "object",
            "required": [
                "identity",
                "password"
            ],
            "properties": {
                "identity": {
                    "description": "Identity 登录标识，可以传入邮件或手机号，请在提交前进行验证",
                    "type": "string"
                },
                "password": {
                    "description": "Password 密码，服务端不保存密码的明文值，请在提交前进行 MD5 哈希",
                    "type": "string"
                }
            }
        },
        "models.LoginResult": {
            "type": "object",
            "properties": {
                "role": {
                    "description": "用户角色，用于客户端权限管理",
                    "type": "string"
                },
                "token": {
                    "description": "Token JWT Token， 请在 HTTP 请求头中添加\n例子： Authorization: Bearer  TJVA95OrM7E20RMHrHDcEfxjoYZgeFONFh7HgQ",
                    "type": "string"
                }
            }
        }
    }
}